.DS_Store
*.xcuserstate
xcschememanagement.plist
Statscanner.xcodeproj/project.xcworkspace/*
StatScanner.xcodeproj/xcshareddata/*
StatScanner.xcodeproj/xcuserdata/*
StatScanner.xcworkspace/xcshareddata/*
StatScanner.xcworkspace/xcuserdata/*
Pods/*
Builds/*
