.DS_Store
*.xcuserstate
xcschememanagement.plist
StatScanner.xcodeproj/project.xcworkspace/xcshareddata/*
StatScanner.xcodeproj/project.xcworkspace/xcuserdata/*
StatScanner.xcodeproj/xcshareddata/*
StatScanner.xcodeproj/xcuserdata/*
StatScanner.xcworkspace/xcshareddata/*
StatScanner.xcworkspace/xcuserdata/*
Builds/*
StatScanner.xcodeproj/project.pbxproj
